@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');

/* :root {
    --font-primary: 'Inter', sans-serif;
    --font-heading: 'Poppins', sans-serif;
} */

/* body {
    font-family: var(--font-primary);
} */

.container {
    width: 97% !important
}

.bg-base-100 {
    background-color: #f4f7fa !important
}

.bg-base-800 {
    background-color: #135c33 !important
}

.font-family {
    font-family: 'Inter', sans-serif !important;
}

.text-primary-500 {
    color: #135c33 !important
}

.bg-primary-100 {
    --tw-bg-opacity: 1;
    background-color: #135c33e0 !important;
}

.text-primary-100 {
    color: #135c33e0 !important;
}

.homebanner {
    background-color: #edf1f6 !important;
}

.buyButton {
    background-color: #16a34a;
    /* Tailwind green-600 */
    border: 1px solid #16a34a;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.2s ease-in-out;
}

.buyButton:hover {
    background-color: #22c55e;
    /* green-500 */
    transform: translateY(-2px);
}

.sellButton {
    background-color: #dc2626;
    /* Tailwind red-600 */
    border: 1px solid #dc2626;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.2s ease-in-out;
}

.sellButton:hover {
    background-color: #ef4444;
    /* red-500 */
    transform: translateY(-2px);
}

/* .border-neutral-200 {
    border-color: #135c33 !important;
} */