@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 4rem;
}

@layer utilities {
  .text-title {
    @apply text-base-800 dark:text-base-100;
  }

  .text-base {
    @apply text-base-600 dark:text-base-400;
  }

  .text-muted {
    @apply text-base-500;
  }

  .border-base {
    @apply border-base-300 dark:border-base-700;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components {
  .title-gradient {
    @apply bg-gradient-to-b from-base-500 to-base-900 dark:from-base-400 dark:to-base-50 bg-clip-text text-transparent;
  }
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  padding: 0.5rem 0;
  white-space: nowrap;
}

.marquee-track {
  /* display: flex; */
  width: max-content;
  animation: marquee 18s linear infinite;
}

.marquee-group {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

/* Seamless animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }

  /* Because 2 groups = 50% width */
}

/* Pause on hover */
.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  .marquee-track {
    animation: none;
    transform: none;
  }
}

.goole_login>div>div>div>div {
  max-width: max-content !important;
}